.full {
    background-color: #e0e6ee;
    height: 100%;
}

/* .hangthang,
.hangnam,
.donhoanthanh,
.dondangxuly {
    width: 240px;
    height: 150px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
} */

.hangthang {
    background-color: #0061f2;
    color: white;
}

.hangthang a {
    background-color: #0061f2;
    color: white;
}

.hangnam {
    background-color: #f4a100;
    color: white;
}

.hangnam a {
    background-color: #f4a100;
    color: white;
}

.donhoanthanh {
    background-color: #00ac69;
    color: white;
}

.donhoanthanh a {
    background-color: #00ac69;
    color: white;
}

.dondangxuly {
    background-color: #e81500;
    color: white;
}

.dondangxuly a {
    background-color: #e81500;
    color: white;
}

.giathang,
.gianam,
.sodonht,
.sodonxl {
    font-weight: bold;
    margin-top: -5px;
    font-size: 16px;
    margin-bottom: 12px;
}

.dieuhuong1 a {
    text-decoration: none;
}

.dieuhuong2 a {
    text-decoration: none;
}

.dieuhuong3 a {
    text-decoration: none;
}

.dieuhuong4 a {
    text-decoration: none;
}

.dieuhuong1 a:hover {
    text-decoration: underline;
}

.dieuhuong2 a:hover {
    text-decoration: underline;
}

.dieuhuong3 a:hover {
    text-decoration: underline;
}

.dieuhuong4 a:hover {
    text-decoration: underline;
}

.quanlysp {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 96%;
}

.dataTable-selector {
    margin-left: 20px;
    padding: 5px;
    width: 70px;
}

.dataTable-input {
    width: 80%;
    padding: 5px;
}

.dataTable-dropdown {
    margin-left: 30px;
}

.dataTable-top {
    margin-bottom: 20px;
}

.bieudo .card {
    margin: 10px;
    width: 530px;
    height: 400px;
    margin-left: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
}


.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(252, 252, 252);
    /* overflow-x: hidden; */
    padding-top: 16px;
}

.sidebar2 {
    height: 100%;
    /* width: 20%; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(252, 252, 252); */
    /* overflow-x: hidden; */
    /* padding-top: 16px; */
}

.btn-tab{
    height: 100%;
    font-size: 17pt;
    padding: auto;
    margin-top: 50%;
    /* margin: 0 auto; */
}

.menu-lg{
    position: fixed;
    height: 100%;
    /* width: 100%;  */
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    /* top: 0; */
    /* left: 0; */
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #484545;
}