<div ng-show="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
</div>


<div class="row mb-4 mt-3">
    <!-- <div class="col-xl-2">
        <button ng-click="exportExcel()" class="btn btn-outline-primary">Xuất file Excel mẫu</button>
    </div> -->
    <div class="col-xl-1 offset-xl-9 mb-2">
        <select name="" id="pageSize" class="form-select" ng-change="repaginateProductVariant(pageSizePV)"
            ng-model="pageSizePV" convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
</div>

<div class="row mb-4">
    <input class="form-control" type="text" placeholder="Tìm kiếm sản phẩm theo tên" ng-model="txtSearchProductVariant"
        ng-change="searchProductVariantByName(txtSearchProductVariant)" ng-model-options="{debounce : 500}">
</div>

<div ng-if="productVariants.length <= 0" class="alert alert-danger text-center mt-4" role="alert">
    <span style="color: red; font-style: italic;">Chưa có bản ghi nào</span>
</div>
<div class="table-responsive border rounded row" style="max-height: 500px; overflow: auto;"
    ng-if="productVariants.length > 0">
    <table class="table">
        <thead>
            <tr style="position: sticky; top: 0;" class="bg-light">
                <!-- <th></th> -->
                <th>Tên sản phẩm</th>
                <th>Thuế (%)</th>
                <th>Giá nhập(VNĐ)</th>
                <th>Giá bán (VNĐ)</th>
                <th>Số lượng</th>
                <th>Được phép khuyến mãi</th>
                <!-- <th>QR Code</th> -->
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="proVar in productVariants | limitTo: pageSizePV : beginPV">
                <!-- <td>
                    <a ng-click="getVariantValue(proVar)" class="" data-bs-toggle="collapse"
                        href="#collapseProVar_{{proVar.variantId}}" role="button" aria-expanded="false"
                        aria-controls="collapseExample"> <i class="bi bi-plus-circle"></i>
                    </a>

                </td> -->
                <td>{{proVar.products.productName}}</td>
                <td>{{proVar.tax | currency:"":0}}</td>
                <td>{{proVar.importPrice | currency:"":0}}</td>
                <td>{{proVar.price | currency:"":0}}</td>
                <td>{{proVar.quantity | currency:"":0}}</td>
                <td>
                    <div class="text-success fw-bold" ng-if="proVar.isSale == 1">
                        Có</div>
                    <div class="text-danger fw-bold" ng-if="proVar.isSale == 0">
                        Không</div>
                </td>
                <!-- <td><img src="http://localhost:8080/PRO2111_FALL2022/genarate-QRCode/{{proVar.variantId}}" alt="QR_Code" height="70%"></td> -->
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" ng-checked="proVar.status == 1"
                            ng-click="showConfirmProductVariantStatusChange($index)" type="checkbox">
                    </div>
                </td>
                <td>
                    <!-- <a class="btn btn-outline-primary" ng-click="getProductVariantId(proVar.variantId)">Sửa</a>
                    <a class="btn btn-outline-danger" ng-click="deleteProductVariant(proVar.productId)">Xóa</a>
                    <a class="btn btn-outline-success" ng-click="imageProductVariant(proVar.variantId)">Ảnh</a> -->
                    <a class="text-primary" ng-click="openModalDetailProductVariant(proVar.variantId)"> <i
                            class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="mt-3">
    <nav aria-label="Page navigation example">
        <p class="pagination justify-content-center">Trang: {{pageProductVariant}} / {{pageCountProductVariant}}</p>
        <ul class="pagination justify-content-center">
            <li class="page-item"><button ng-click="firstProductVariant()" class="page-link"><i
                        class="bi bi-chevron-bar-left"></i></button>
            </li>
            <li class="page-item"><button ng-click="previousProductVariant()" class="page-link"><i
                        class="bi bi-chevron-double-left"></i></button></li>
            <li class="page-item"><button ng-click="nextProductVariant()" class="page-link"><i
                        class="bi bi-chevron-double-right"></i></button>
            </li>
            <li class="page-item"><button ng-click="lastProductVariant()" class="page-link"><i
                        class="bi bi-chevron-bar-right"></i></button>
            </li>
        </ul>
    </nav>
</div> -->

<div ng-if="productVariants.length > 0" class="mt-4 text-center">
    <p>Trang: {{currentPagePV}} / {{totalPagePV}}</p>
    <button ng-show="currentPagePV>pageInListPV" class="btn btn-outline-danger" ng-click="prevListPagePV()"><i
            class="bi bi-chevron-double-left"></i></button>
    <button class="btn btn-outline-secondary me-2 {{currentPagePV ==page?'active':''}}" ng-click="selectPagePV(page)"
        ng-repeat="page in listPagePV">{{page}}
    </button>
    <button ng-hide="totalPagePV<=endListPagePV" ng-click="nextListPagePV()" class="btn btn-outline-danger"><i
            class="bi bi-chevron-double-right"></i></button>
</div>


<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Bluv.snk 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- modal detail product variant -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalDetailProVar" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Chỉnh sửa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="priceImport">Giá nhập:</label>
                        <input type="number" class="form-control" id="priceImport"
                            ng-model="productVariant.importPrice">
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.importPrice']}}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="priceExport">Giá bán:</label>
                        <input type="number" class="form-control" id="priceExport" ng-model="productVariant.price">
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.price']}}</span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="tax">Thuế:</label>
                        <input type="number" class="form-control" id="tax" ng-model="productVariant.tax">
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.tax']}}</span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="quantity">Số lượng bán:</label>
                        <input type="number" class="form-control" id="quantity" ng-model="productVariant.quantity">
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.quantity']}}</span>
                        </div>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="quantityError">Số lượng lỗi:</label>
                        <input type="number" class="form-control" id="quantityError"
                            ng-model="productVariant.quantityError">
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.quantityError']}}</span>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="userCreate">Nhân viên tạo:</label>
                        <input type="text" class="form-control" id="userCreate"
                            value="{{productVariant.userCreate.fullName}}" readonly>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="createDate">Ngày tạo:</label>
                        <input type="text" class="form-control" id="createDate"
                            value="{{productVariant.createDate | date:'dd-MM-yyyy hh:mm a'}}" readonly>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="userEdit">Nhân viên chỉnh sửa cuối:</label>
                        <input type="text" class="form-control" id="userEdit"
                            value="{{productVariant.userEdit.fullName}}" readonly>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="editDate">Ngày chỉnh sửa cuối:</label>
                        <input type="text" class="form-control" id="editDate"
                            value="{{productVariant.editDate | date:'dd-MM-yyyy hh:mm a'}}" readonly>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isSaleUpdate"
                            ng-checked="productVariant.isSale" ng-model="productVariant.isSale" ng-true-value="1"
                            ng-false-value="0">
                        <label class="form-check-label" for="isSaleUpdate">
                            Được phép khuyến mãi ?
                        </label>
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError['productVariant.isShow']}}</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="form-label">QR Code</label>
                    <div>
                        <img data-ng-src="{{productVariant.qrCode}}" alt="QR Code">
                    </div>
                </div>
                <hr>
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Ảnh sản phẩm</h5>
                <div class="row mt-3">
                    <p ng-if="imageLength == 0">Chưa có ảnh nào</p>
                    <div class="col-4 col-md-3 col-lg-2 mb-2 border rounded" ng-repeat="name in variantImages">
                        <img class="img-fluid"
                            src="http://buiquanghieu.xyz/TestSendMail/assets/images/product/{{name.imagePath}}" alt="">
                        <!-- <img class="img-fluid"
                            src="http://buiquanghieu.xyz/PRO2111_FALL2022/assets/images/{{name.imagePath}}" alt=""> -->
                    </div>
                </div>
                <div class="row col-2 mb-1">
                    <button class="btn btn-outline-primary" ng-click="getListImageServer()">Thay đổi ảnh</button>
                </div>
                <hr>
                <div class="row">
                    <div class="mt-3 mb-4">
                        <button class="btn btn-secondary col-12 text-start border-0 text-dark fw-bold"
                            style="background-color: gainsboro;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOption" aria-expanded="false" aria-controls="collapseExample"
                            ng-click="showVV()">
                            <i class="bi bi-caret-up" ng-if="show == 0"></i>
                            <i class="bi bi-caret-down" ng-if="show == 1"></i>
                            Thuộc tính
                        </button>
                        <div class="collapse"
                            style="border: 1.6px solid gray; border-top: 0px; border-radius: 0 0 10px 10px;"
                            id="collapseOption">
                            <!-- <div class="card card-header">
                                
                            </div> -->
                            <div class="card card-body" style="max-height: 300px; overflow-x: auto;">
                                <div ng-if="variantValues.length <= 0" class="alert alert-danger text-center mt-4"
                                    role="alert">
                                    <span style="color: red; font-style: italic;">Chưa có bản ghi nào</span>
                                </div>
                                <div class="table-responsive" ng-if="variantValues.length > 0">
                                    <table class="table table-striped table-inverse text-nowrap">
                                        <thead class="thead-inverse">
                                            <th class="text-black-50">Tên thuộc tính</th>
                                            <th class="text-black-50">Giá trị</th>
                                            <th></th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="varVal in variantValues">
                                                <td>{{varVal.optionValues.options.optionName}}</td>
                                                <td>{{varVal.optionValues.valueName}}</td>
                                                <td>
                                                    <button class="btn btn-outline-success"
                                                        ng-click="openModalUpdateVariantValue($index,varVal)">Sửa</button>
                                                </td>
                                                <td><i class="fa-solid fa-trash-can"
                                                        ng-click="showModalDeleteVariantValue($index)"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="row col-2 m-1">
                                    <button type="button" class="btn btn-outline-success mb-2"
                                        ng-click="openModalAddVV()">
                                        Thêm mới
                                    </button>
                                </div> -->
                            </div>
                            <!-- <div class="card card-footer">
                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-primary" ng-click="onEditProductVariantV2()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- modal image product variant -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalImageProVar" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Ảnh sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-3">
                    <p ng-if="imageLength == 0">Chưa có ảnh nào</p>
                    <div class="col-6 col-md-4 col-lg-3 mb-2 border rounded" ng-repeat="name in variantImages">
                        <img class="img-fluid"
                            src="http://buiquanghieu.xyz/TestSendMail/assets/images/product/{{name.imagePath}}" alt="">
                        <!-- <img class="img-fluid"
                            src="http://buiquanghieu.xyz/PRO2111_FALL2022/assets/images/{{name.imagePath}}" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalAddImageProVar"
                    ng-click="getListImageServer()">Thêm ảnh</button>
            </div>
        </div>
    </div>
</div>

<!-- modal add image product variant -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalAddImageProVar" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Danh sách ảnh trên server</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="closeImagesServer()"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalUploadImageList">
                            Thêm ảnh
                        </button>
                        <div class="row mt-3">
                            <div class="col-sm-4 col-6 col-md-3 col-lg-2 mb-2 border rounded"
                                ng-repeat="name in fileName">
                                <input type="checkbox" name="checkbox{{name}}" id="checkbox{{name}}">
                                <label for="checkbox{{name}}">
                                    <img class="img-fluid"
                                        src="http://buiquanghieu.xyz/TestSendMail/assets/images/product/{{name}}"
                                        alt="">
                                    <!-- <img ng-dblclick="addImage(name)" class="img-fluid"
                                    src="http://buiquanghieu.xyz/PRO2111_FALL2022/assets/images/{{name}}" alt=""> -->
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    ng-click="closeImagesServer()">Close</button>
                    <button type="button" class="btn btn-outline-primary" ng-click="addMultiImageToExistPV()">Thay đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete image -->
<div class="modal fade" id="exampleModalDeleteImage" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="closeModalDeleteImage()"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa ảnh không ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    ng-click="closeModalDeleteImage()">Đóng</button>
                <button type="button" class="btn btn-outline-danger" ng-click="deleteImage()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- modal add variant value -->
<div style="z-index: 1500;" class="modal fade" id="modalAddVariantValue" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Thêm giá trị thuộc tính</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="closeModalAddVariantValue()"></button>
            </div>
            <div class="modal-body">

                <div class="mt-3">
                    <label class="form-lable" for="optionByVV">Thuộc tính:</label>
                    <!-- <input class="form-control mt-1 mb-1" type="text" placeholder="Search Product By Name"> -->
                    <select class="form-control" name="" id="optionByVV" ng-model="productOption"
                        ng-change="changeOptionByVariantValue(productOption)">
                        <option ng-repeat="optVV in productOptionStatusTrues"
                            ng-selected="productOption.options.optionId == optVV.options.optionId" ng-value="optVV">
                            {{optVV.options.optionName}}</option>
                    </select>
                    <div>
                        <span ng-if="messageOption != ''"
                            style="color: red; font-style: italic;">{{messageOption}}</span>
                    </div>
                </div>

                <div class="mt-3">
                    <label class="form-lable" for="optionValueByVV">Giá trị:</label>
                    <!-- <input class="form-control mt-1 mb-1" type="text" placeholder="Search Product By Name"> -->
                    <select class="form-control" name="" id="optionValueByVV" ng-model="optionValue"
                        ng-change="changeVariantValue()">
                        <option ng-repeat="ov in lstOptionValue" ng-value="{{ov}}">{{ov.valueName}}</option>
                    </select>
                    <div>
                        <span ng-if="messageOpValue != ''"
                            style="color: red; font-style: italic;">{{messageOpValue}}</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    ng-click="closeModalAddVariantValue()">Đóng</button>
                <button type="button" class="btn btn-outline-primary"
                    ng-click="onAddVarintValueV2(productOption, optionValue)">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- modal update variant value -->
<div style="z-index: 1500;" class="modal fade" id="modalUpdateVariantValue" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Cập nhật giá trị thuộc tính</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="closeModalAddVariantValue()"></button>
            </div>
            <div class="modal-body">

                <div class="mt-3">
                    <label class="form-lable" for="optionByVV">Thuộc tính:</label>
                    <!-- <input class="form-control mt-1 mb-1" type="text" placeholder="Search Product By Name"> -->
                    <select class="form-control" name="" id="optionByVV" ng-model="varValUpdate.productOptions" disabled
                        ng-change="changeOptionByVariantValue(varValUpdate.productOptions)"
                        ng-options="otpVV as otpVV.options.optionName for otpVV in productOptionStatusTrues track by otpVV.options.optionId">
                        <!-- <option ng-repeat="optVV in productOptionStatusTrues"
              ng-selected="varValUpdate.productOptions.options.optionId === optVV.options.optionId" ng-value="optVV">
              {{optVV.options.optionName}}</option> -->
                    </select>
                    <div>
                        <span ng-if="messageOption != ''"
                            style="color: red; font-style: italic;">{{messageOption}}</span>
                    </div>
                </div>

                <div class="mt-3">
                    <label class="form-lable" for="optionValueByVV">Giá trị:</label>
                    <!-- <input class="form-control mt-1 mb-1" type="text" placeholder="Search Product By Name"> -->
                    <select class="form-control" name="" id="optionValueByVV" ng-model="varValUpdate.optionValues"
                        ng-change="changeVariantValue()"
                        ng-options="ov as ov.valueName for ov in lstOptionValue track by ov.valueId">
                        <!-- <option ng-repeat="ov in lstOptionValue" ng-value="{{ov}}">{{ov.valueName}}</option> -->
                    </select>
                    <div>
                        <span ng-if="messageOpValue != ''"
                            style="color: red; font-style: italic;">{{messageOpValue}}</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    ng-click="closeModalAddVariantValue()">Đóng</button>
                <button type="button" class="btn btn-outline-primary" ng-click="onUpdateVarintValueV2()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete variant value -->
<div class="modal fade" id="exampleModalDeleteVariantValues" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    ng-click="closeModalDeleteImage()"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa thuộc tính không ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    ng-click="closeModalDeleteImage()">Đóng</button>
                <button type="button" class="btn btn-outline-danger" ng-click="deleteVariantValues()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thêm mới ảnh lên Resourse -->
<div class="modal fade" id="modalUploadImageList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div ng-show="isLoading" class="loading">
                <div class="spinner-border text-primary spinner-center" role="status">
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới ảnh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input class="form-control" type="file" multiple
                    onchange="angular.element(this).scope().imageLstChanged(this.files)">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>