<div ng-show="isLoading" class="loading">
    <div class="spinner-border text-primary spinner-center" role="status">
    </div>
</div>

<div class="row mb-4 mt-3">
    <button class="btn btn-outline-primary col-xl-1 mb-2" ng-click="activeCreatePro()">Thêm mới</button>
    <div class="col-xl-1 offset-xl-10 mb-2">
        <select name="" id="pageSize" class="form-select" ng-change="repaginate(pageSize)" ng-model="pageSize"
            convert-to-number>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
        </select>
    </div>
</div>

<div class="row mb-4">
    <input class="form-control" type="text" placeholder="Mời bạn nhập tên sản phẩm cần tìm" ng-model="txtSearchProduct"
        ng-change="searchProductByName(txtSearchProduct)" ng-model-options="{debounce : 500}">
</div>

<div ng-if="products.length <= 0" class="alert alert-danger text-center mt-4" role="alert">
    <span style="color: red; font-style: italic;">Chưa có bản ghi nào</span>
</div>
<div class="table-responsive border rounded row" style="max-height: 550px; overflow: auto;" ng-if="products.length > 0">
    <table class="table table-striped table-inverse text-nowrap">
        <thead>
            <tr style="position: sticky; top: 0;">
                <th class="bg-light text-black-50">Tên sản phẩm</th>
                <th class="bg-light text-black-50">Trạng thái</th>
                <th class="bg-light text-black-50"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pro in products | limitTo: pageSize : begin">
                <td>{{pro.productName}}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" ng-checked="pro.status == 1"
                            ng-click="showConfirmProductStatusChange($index)" type="checkbox">
                    </div>
                </td>
                <td>
                    <a class="btn btn-outline-primary" ng-click="getProductId(pro.productId)">Sửa</a>
                    <a class="btn btn-outline-danger" ng-click="deleteProduct(pro.productId)">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="products.length > 0" class="mt-4 text-center">
    <p>Trang: {{currentPage}} / {{totalPage}}</p>
    <button ng-show="currentPage>pageInList" class="btn btn-outline-danger" ng-click="prevListPage()"><i
            class="bi bi-chevron-double-left"></i></button>
    <!-- <button ng-hide="currentPage==startListPage" ng-click="prevPage()" class="btn btn-outline-primary"><i
            class="bi bi-chevron-compact-left"></i></button> -->

    <button class="btn btn-outline-secondary me-2 {{currentPage ==page?'active':''}}" ng-click="selectPage(page)"
        ng-repeat="page in listPage">{{page}}
    </button>

    <!-- <button ng-hide="currentPage==endListPage" ng-click="nextPage()" class="btn btn-outline-primary me-2"><i
            class="bi bi-chevron-compact-right"></i></button> -->
    <button ng-hide="totalPage<=endListPage" ng-click="nextListPage()" class="btn btn-outline-danger"><i
            class="bi bi-chevron-double-right"></i></button>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Bluv.snk 2022</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- modal create product -->
<div style="z-index: 1500;" class="modal fade modal-option" id="exampleModalCreatePro" tabindex="-1"
    aria-labelledby="exampleModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Tạo mới sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label" for="optionValueName">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="optionValueName" ng-model="product.productName"
                        placeholder="Mời bạn nhập tên sản phẩm">
                    <div>
                        <span ng-if="messageError"
                            style="color: red; font-style: italic;">{{messageError['product.productName']}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-3 mb-4">
                        <button class="btn btn-secondary col-12 text-start border-0 text-dark fw-bold"
                            style="background-color: gainsboro;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseModalCreate" aria-expanded="false" aria-controls="collapseExample"
                            ng-click="showPo()">
                            <i class="bi bi-caret-up" ng-if="show == 0"></i>
                            <i class="bi bi-caret-down" ng-if="show == 1"></i>
                            Danh sách thuộc tính đi kèm
                        </button>
                        <div class="collapse"
                            style="border: 1.6px solid gray; border-top: 0px; border-radius: 0 0 10px 10px;"
                            id="collapseModalCreate">
                            <div ng-if="listPoCreate.length>0" class="card card-body"
                                style="max-height: 400px; overflow-x: auto;">
                                <div class="table-responsive">
                                    <table class="table table-striped table-inverse text-nowrap">
                                        <thead>
                                            <tr style="position: sticky; top: 0;">
                                                <th class="bg-light text-black-50">Thuộc tính</th>
                                                <th class="bg-light text-black-50"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="po in listPoCreate">
                                                <td>{{po.options.optionName}}</td>
                                                <td>
                                                    <button ng-click="deleteOpionToListPo($index,po)"
                                                        class="btn btn-outline-danger"><i
                                                            class="bi bi-trash3"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt-2 mb-3 ms-3 float-right">
                                <button class="btn btn-outline-primary" ng-click="showModalAddOptionToListPo()">Thêm
                                    thuộc
                                    tính cho sản phẩm</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-primary" ng-click="onAddProduct()">Tạo</button>
            </div>
        </div>
    </div>
</div>



<!-- modal update product -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalUpdatePro" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Chỉnh sửa sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <label class="form-label" for="optionValueName">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="optionValueName" ng-model="product.productName">
                    <div>
                        <span ng-if="messageError"
                            style="color: red; font-style: italic;">{{messageError.productName}}</span>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-primary" ng-click="onEditProduct()">Lưu</button>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-3 mb-4">
                        <button class="btn btn-secondary col-12 text-start border-0 text-dark fw-bold"
                            style="background-color: gainsboro;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOp" aria-expanded="false" aria-controls="collapseExample"
                            ng-click="showPo()">
                            <i class="bi bi-caret-up" ng-if="show == 0"></i>
                            <i class="bi bi-caret-down" ng-if="show == 1"></i>
                            Danh sách thuộc tính đi kèm
                        </button>
                        <div class="collapse"
                            style="border: 1.6px solid gray; border-top: 0px; border-radius: 0 0 10px 10px;"
                            id="collapseOp">
                            <div ng-if="productOptions.length>0" class="card card-body"
                                style="max-height: 400px; overflow-x: auto;">
                                <div class="table-responsive">
                                    <table class="table table-striped table-inverse text-nowrap">
                                        <thead>
                                            <tr style="position: sticky; top: 0;">
                                                <th class="bg-light text-black-50">Thuộc tính</th>
                                                <th class="bg-light text-black-50">Trạng thái</th>
                                                <th class="bg-light text-black-50"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="po in productOptions">
                                                <td>{{po.options.optionName}}</td>
                                                <td>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" ng-checked="po.status == 1"
                                                            ng-click="showConfirmProductOptionStatusChange($index)"
                                                            type="checkbox">
                                                    </div>
                                                </td>
                                                <td>
                                                    <button ng-click="deletePo(po, $index)"
                                                        class="btn btn-outline-danger"><i
                                                            class="bi bi-trash3"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mt-2 mb-3 ms-3 float-right">
                                <button class="btn btn-outline-primary" ng-click="showModalAddOp(product)">Thêm thuộc
                                    tính cho sản phẩm</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- modal create option -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalAddProOp" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Thêm mới thuộc tính cho sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label" for="optionName">Thuộc tính</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="productOption.options" ng-options="opt as opt.optionName for opt in options track by opt.optionId">
                            <!-- <option ng-repeat="opt in options" ng-value="{{opt}}"
                                ng-selected="opt.optionId===productOption.options.optionId">{{ opt.optionName }}
                            </option> -->
                        </select>
                        <span class="input-group-text"><a ng-click="quickAddOptionP()"><i
                                    class="bi bi-plus"></i></a></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-primary" ng-click="onAddProductOption()">Thêm</button>
            </div>
        </div>
    </div>
</div>

<!-- add option to list Product Option -->
<div style="z-index: 1500;" class="modal fade" id="showModalAddOptionToListPo" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Thêm mới thuộc tính cho sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label" for="optionName">Thuộc tính</label>
                    <select class="form-control" ng-model="optionAdd">
                        <option ng-repeat="opt in listOptionOrigin" ng-value="{{opt}}">{{ opt.optionName }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-primary"
                    ng-click="onAddOptionToListPo(optionAdd)">Thêm</button>
            </div>
        </div>
    </div>
</div>


<!-- modal update option -->
<div style="z-index: 1500;" class="modal fade" id="exampleModalUpdateProOp" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Update Product Option</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label" for="optionName">Option
                        Name</label>
                    <select class="form-control" ng-model="productOption.options">
                        <option ng-repeat="opt in options" ng-value="{{opt}}"
                            ng-selected="opt.optionId===productOption.options.optionId">{{ opt.optionName }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="onEditOptionOfProductOption()">Update</button>
            </div>
        </div>
    </div>
</div>


<!-- modal create option -->
<div style="z-index: 1500;" class="modal fade modal-option" id="exampleModalQuickCreateOptP" tabindex="-1"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div ng-show="isLoading" class="loading">
            <div class="spinner-border text-primary spinner-center" role="status">
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex justify-content-center" id="exampleModalLabel">Thêm mới thuộc tính</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="optionValueName">Tên thuộc tính:</label>
                    <input type="text" class="form-control" id="optionValueName" ng-model="option.optionName"
                        placeholder="Mời bạn nhập tên thuộc tính">
                    <div>
                        <span ng-if="messageError"
                            style="color: red; font-style: italic;">{{messageError['option.optionName']}}</span>
                    </div>
                </div>

                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isShowCreate"
                            ng-checked="option.isShow" ng-model="option.isShow" ng-true-value="1" ng-false-value="0">
                        <label class="form-check-label" for="isShowCreate">
                            Được phép hiển thị ?
                        </label>
                        <div>
                            <span ng-if="messageError"
                                style="color: red; font-style: italic;">{{messageError.isShow}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-3 mb-4">
                        <button class="btn btn-secondary col-12 text-start border-0 text-dark fw-bold"
                            style="background-color: gainsboro;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOvCreate" aria-expanded="false" aria-controls="collapseExample"
                            ng-click="showOV()">
                            <i class="bi bi-caret-up" ng-if="show == 0"></i>
                            <i class="bi bi-caret-down" ng-if="show == 1"></i>
                            Danh sách giá trị đi kèm
                        </button>
                        <div class="collapse"
                            style="border: 1.6px solid gray; border-top: 0px; border-radius: 0 0 10px 10px;"
                            id="collapseOvCreate">
                            <div class="card card-body" style="max-height: 400px; overflow-x: auto;">
                                <div class="mb-3">
                                    <label class="form-label" for="optionValueName">Giá trị:</label>
                                    <div class="mb-2">
                                        <span
                                            style="color: red; font-style: italic;"">Ngăn cách giữa các giá trị là phím "
                                            enter"</span>
                                    </div>
                                    <input class="form-control" type="text" ng-keydown="addOvToList($event, option)"
                                        ng-model="optionValueCreate.valueName"
                                        placeholder="Mời bạn nhập giá trị thuộc tính">
                                    <div class="mt-2">
                                        <span ng-if="messageErrorValueName"
                                            style="color: red; font-style: italic;">{{messageErrorValueName}}</span>
                                    </div>
                                </div>

                                <div ng-if="listValueCreate.length <= 0" class="alert alert-danger text-center mt-4"
                                    role="alert">
                                    <span style="color: red; font-style: italic;">Chưa có bản ghi nào</span>
                                </div>
                                <div class="table-responsive" ng-if="listValueCreate.length>0">
                                    <table class="table table-striped table-inverse text-nowrap">
                                        <thead>
                                            <tr style="position: sticky; top: 0;">
                                                <th class="bg-light text-black-50">Giá trị</th>
                                                <th class="bg-light text-black-50">Được phép hiển thị ?</th>
                                                <th class="bg-light text-black-50"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ov in listValueCreate">
                                                <td>{{ov.valueName}}
                                                    <div>
                                                        <span ng-if="messageError"
                                                            style="color: red; font-style: italic;">{{messageError['optionValues['+$index+'].valueName']}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="isShowUpdate" ng-checked="ov.isShow" ng-model="ov.isShow"
                                                        ng-true-value="1" ng-false-value="0">
                                                </td>
                                                <td><i ng-click="deleteOvInListCreate($index)" class="bi bi-trash3"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="row col-2 m-1">
                  <button type="button" class="btn btn-outline-success mb-2" ng-click="openModalAddOV()">
                    Thêm mới
                  </button>
                </div> -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-outline-primary" ng-click="onAddOptionP()">Tạo mới</button>
            </div>
        </div>
    </div>
</div>