@desktop: ~'(min-width: 960px) ';
@tablet: ~'only screen and (min-width: 720px) and (max-width: 959px)';
@mobile: ~'only screen and (min-width: 0px) and (max-width: 719px)';

.antImageMask {
  border-radius: 100%;
}

.searchForm {
  display: flex;
  justify-content: flex-start;

  @media @tablet, @mobile {
    flex-direction: column;
  }
}

.uploadFile {
  width: unset;
}

.uploadFileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;

  @media @tablet, @mobile {
    flex-direction: column;
  }
}

.searchItem {
  @media @desktop {
    margin-right: 16px !important;
    width: 320px;
  }

  @media @tablet, @mobile {
    margin-bottom: 16px !important;
  }
}

.tableComponent {
  padding: 24px;
  min-height: 240px;
}

.breadcrumb {
  margin: 16px 0;
}

.addGroupButton {
  text-align: center;
  padding-top: 24px;
}

.addButton {
  margin-right: 16px !important;
}

.dialogFormItem {
  margin: 8px 0;
}

.toolTip {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.detailAdm {
  padding-top: 24px;
}

.status {
  // display: flex;
  // justify-content: space-around;
  text-align: center;
}

.form {
  display: flex;
}

.avt {
  margin-bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.textAdmin {
  margin-right: 80px;
}

.selectAdmin {
  margin: 50px;
}

.choseAdmin {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.previousEditLink {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.breacrumbItem {
  display: flex;
  justify-content: space-evenly;
}

.itemForm label {
  display: flex;
}

.itemForm {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 40px;
}

.submitButtonGroup {
  position: absolute;
  left: 50%;
  bottom: 16px;
}

.tree {
  background: transparent;
}

.formGeneric {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
